<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phptravelsnative"
    >

   <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.phptravelsnative.utality.Extra.CalligraphyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBwPtXQGiuz5Jw8-nfYRsjNZiM1N-D6sl0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.phptravelsnative.Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.phptravelsnative.Activities.MainLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.phptravelsnative.Activities.SearchingHotels"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.phptravelsnative.Activities.HotelDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.phptravelsnative.Activities.ExpediaDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.phptravelsnative.Activities.FullscreenImages"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        
        <activity
            android:name="com.phptravelsnative.Activities.OffersDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.phptravelsnative.Activities.Invoice"
            android:screenOrientation="portrait" />
        <activity android:name="com.phptravelsnative.Activities.Card" />
        <activity android:name="com.phptravelsnative.Activities.ExpediaCongratulations"></activity>
    </application>
</manifest>